.main {
    text-align: center;
    }

.header {
    background-color:cadetblue;
}

.table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-width: 2px;
    border-color: black;
    border-style: solid;
   
}

.tfill {
 
    background-color:lightskyblue; 
    font-style: normal;
    color: darkblue;
}

.yellow {
   background-color: yellow;
   font-style: normal;
   color: darkblue;
}

.red {
    background-color: red;
    font-style: normal;   
    color: darkblue;
}